body{
    background-attachment: scroll;
    background: #F2F2F2;
}

.web{
    justify-content: center;
    display: flex;
}


#Yasser{
    border: #25212F 6px solid;
    border-radius: 50pc;
    width: 50%;
    
}


p{
    text-align: center;
    color: #25212F;
    font-size: 23px;
    font-weight: 700px;
}


.li{
    
text-align: center;
align-items: center;
display:flexbox;

}
.li ul{
  justify-content: center;
  text-align: center;
  
  margin-bottom: 300px;
  list-style: none;
}
 



.li ul li a button{
    font-weight: 500px;
    font-size: 23px;
   color: #F2F2F2;
    border: #F2F2F2 3px solid;
    background-color: #25212F;
    margin-top: 30px;
    border-radius: 40px;
    width: 400px;
    height: 50px;
}
